@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&family=Sunflower:wght@300;500;700&display=swap");

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}
.ff_space {
  font-family: "Space Grotesk", sans-serif;
}
.ff_sunflower {
  font-family: "Sunflower", sans-serif;
}
:root {
  --fs-xsm: 16px;
  --fs-sm: 20px;
  --fs-md: 56px;
  --fs-lg: 64px;

  --bg-body: #rgba(0, 0, 0, 0.8);
  --color-black: #040404;
  --color-white: #ffffff;
  --hero-bg: #e4e4e4;
}

/* font size  */
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
/* colors  */
.bg_body {
  background-color: var(--bg-body);
}
.color_black {
  color: var(--color-black);
}
.color_white {
  color: var(--color-white);
}
.bg_hero {
  background-color: var(--hero-bg);
}

.bg_white {
  background-color: var(--color-white);
}

/* font size  */
.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_700 {
  font-weight: 700;
}

@media (max-width: 1200px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 20px;
    --fs-md: 56px;
    --fs-lg: 40px;
  }
}
@media (max-width: 992px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 20px;
    --fs-md: 56px;
    --fs-lg: 50px;
  }
}
@media (max-width: 768) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 20px;
    --fs-md: 56px;
    --fs-lg: 40px;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-xsm: 12px;
    --fs-sm: 20px;
    --fs-md: 56px;
    --fs-lg: 30px;
  }
}
