* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.z_11 {
  z-index: 11;
}
/* perloader  */
.pointer_event_none {
  pointer-events: none !important;
}
.preloader_animation{
animation: preloader 2s linear alternate infinite ;
}
@keyframes preloader {
  50%{
    transform: scale(2);
  }
}
/* back to top  */
.backToTop {
    right: 30px;
    bottom: 30px;
    display: none;
}

.backToTop:hover path {
    stroke: var(--clr-orange);
}
.mw_532 {
  max-width: 532px;
}
.line::after {
  content: "";
  position: absolute;
  width: 344px;
  left: 33%;
  top: 110%;
  border: 1px solid #000000;
  transform: rotate(-3deg);
}
.line::before {
  content: "";
  position: absolute;
  width: 344px;
  left: 40%;
  top: -25%;
  border: 1px solid #000000;
  transform: rotate(-3deg);
}
.teambox {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px -1px 11px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.5px);
  border-radius: 0px 0px 8px 8px;
  width: 100%;
}
.view-button {
  border: none;
  border: 1px solid black;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 32px;
  border-radius: 50px;
}
:hover.view-button {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.bottom_0 {
  bottom: 0;
}
.left_0 {
  left: 0;
}
.d_none {
  display: none;
}
.card-transition {
  transition: all 300ms linear;
}
.hover_card:hover {
  transform: scale(1.3) translateY(-12px);
  position: relative;
  z-index: 5;
}
.hover_card:hover .d_none {
  display: block !important;
}
.br_25 {
  border-radius: 25px;
}

/* insta gradient  */
.grad:hover path {
  fill: url("#my-cool-gradient") !important;
}

@media (max-width: 1400px) {
  .line::after {
    content: "";
    position: absolute;
    width: 344px;
    left: 30%;
    top: 110%;
    border: 1px solid #000000;
    transform: rotate(-3deg);
  }
  .line::before {
    content: "";
    position: absolute;
    width: 344px;
    left: 38%;
    top: -25%;
    border: 1px solid #000000;
    transform: rotate(-3deg);
  }
}
@media (max-width: 1200px) {
  .line::after {
    content: "";
    position: absolute;
    width: 344px;
    left: 25%;
    top: 110%;
    border: 1px solid #000000;
    transform: rotate(-3deg);
  }
  .line::before {
    content: "";
    position: absolute;
    width: 344px;
    left: 38%;
    top: -25%;
    border: 1px solid #000000;
    transform: rotate(-3deg);
  }
}
@media (max-width: 992px) {
  .line::after {
    content: "";
    position: absolute;
    width: 344px;
    left: 20%;
    top: 110%;
    border: 1px solid #000000;
    transform: rotate(-3deg);
  }
  .line::before {
    content: "";
    position: absolute;
    width: 344px;
    left: 32%;
    top: -25%;
    border: 1px solid #000000;
    transform: rotate(-3deg);
  }
}
@media (max-width: 768px) {
  .line::after {
    content: "";
    position: absolute;
    width: 344px;
    left: 7%;
    top: 110%;
    border: 1px solid #000000;
    transform: rotate(-3deg);
  }
  .line::before {
    content: "";
    position: absolute;
    width: 344px;
    left: 25%;
    top: -25%;
    border: 1px solid #000000;
    transform: rotate(-3deg);
  }
}
@media (max-width: 576px) {
  .line::after {
    display: none;
  }
  .line::before {
    display: none;
  }
  .hover_card:hover {
    transform: scale(1.1);
    position: relative;
    z-index: 5;
    transition: all 0.2s linear;
  }
  .w_50_xsm {
    width: 50%;
  }
}
.shadow:hover {
  box-shadow: 0px 4px 15px 0px #ffffff1a !important;
  scale: 1.2;
  position: relative;
  z-index: 55;


}
.border-style {
  border: 1px solid #ffffff33;
}
.max-width-570px {
  max-width: 570px;
}
.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}
.footer-line {
  background-color: white;
  height: 1px;
  width: 100%;
}
.op-70 {
  opacity: 70%;
}
.curser-pointer {
  cursor: pointer;
}
:hover.hover-youtube path {
  fill: red;
}
:hover.hover-facebook path {
  fill: rgb(0, 26, 255);
}
:hover.hover-twitter path {
  fill: rgb(0, 140, 255);
}
.color_black {
  color: #040404;
}
.line-2 {
  position: absolute;
  top: -10%;
  left: -60%;
}
.f-circle {
  top: -40%;
}

.sec-line {
  position: absolute;
  top: -20%;
  left: -7%;
  overflow: visible;
}
@media (max-width: 1200px) {
  .line-2 {
    position: absolute;
    top: -53%;
    left: -60%;
  }
  @media (max-width: 992px) {
    .line-2 {
      position: absolute;
      top: -34%;
      left: -60%;
    }
  }
}
@media (min-width: 576px) {
  .bg_footer {
    background-image: url(../images/png/Rectangle\ 5project-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 576px) {
  .bg_sm_white {
    background-color: white;
  }
}

#preloader {
  transition: all 300ms linear;
}
